
body
{
  font-family: "Roboto", sans-serif;
}

.intro-container
{
  background-image: url("../res/designer_1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.mobile-container
{
  background-image: url("../res/mobile.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 70%;
  padding-bottom: 50px;
}

.happy-container
{
  background-image: url("../res/happy.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 70%;
  padding-bottom: 50px;
}

.social-container
{
  background-image: url("../res/social.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 70%;
  padding-bottom: 50px;
}

.mention-container
{
  background-image: url("../res/mention.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 55%;
  padding-bottom: 50px;
}

.outro-container
{
  background-image: url("../res/outro.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 130px;
  background-size: 100% auto;
}

.offer-container
{
  background-image: url("../res/offer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% auto;
  margin-top: -20%;
  padding-top: 25%;
  padding-bottom: 20%;
}

.navigation
{
  padding-top: 1%;
}

.footer
{
  background-image: url("../res/footer.png");
  background-position: center;
  background-size: cover;
  margin-top: -5%;
  padding-top: 5%;
  color: #929ECC;
}

.nav a, .foot a
{
  text-decoration: none;
  color: #0a1f61;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.foot a
{
  color: #929ECC;
}

.nav-title a, .foot-title a
{
  color: #0a1f61;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.foot-start
{
  padding-bottom: 3%;
}

.foot-end
{
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid;
}

.black-button
{
  background: #111B47;
  color: #FFFFFF;
  border-color: #111B47;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0.3rem  0rem 0.3rem 0rem;
  background-size: cover;
}

.white-button
{
  color: #091133;
  border-color: #091133;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0.3rem  0rem 0.3rem 0rem;
  background-size: cover;
}

.buy-button
{
  font-size: 0.7rem;
}

.main-intro
{
  padding-top: 15%;
  padding-bottom: 35%;
}

.main-mobile
{
  padding-top: 10%;
  padding-bottom: 10%;
}

.main-happy, .main-social, .main-mention
{
  padding-top: 10%;
  padding-bottom: 10%;
}

.text-intro, .text-mobile, .text-mention
{
  padding-bottom: 10%;
}

h1
{
  font-size: 3rem;
  font-weight: normal;
}

h2
{
  font-size: 2.5rem;
  font-weight: normal;
}

.offer-container > .row > .col
{
  margin: auto;
  text-align: center;
}

.offer-text
{
  padding-top: 3%;
  padding-bottom: 4%;
}

.offer-price
{
  padding-bottom: 5%;
}
